.button {
  display: block;
  border: 2px solid #444444;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #ffffff;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
    outline: 0;
  }

  &--modal {
    width: 260px;
    line-height: 16px;
    margin-top: 22px;
    margin-bottom: 15px;
  }

  &--green {
    background-color: #63d1bb;
    color: #ffffff;
    border: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &--send {
    width: 260px;
    margin-bottom: 55px;
  }
}

@media (min-width: @tablet-width) {
  .button {
    &--modal {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
    }

    &--send {
      order: 1;
      width: 230px;
      margin-left: 50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .button {
    &--send {
      margin-left: 0;
      margin-bottom: 45px;
    }
  }
}
