.logo {
  display: block;
  padding: 22px 30px 16px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  &--footer {
    display: none;
  }
}

.logo__image {
  width: 86px;
  height: 35px;
}

@media (min-width: @tablet-width) {
  .logo {
    width: 718px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 0;
    padding-left: 50px;
    text-align: left;
    &--footer {
      display: block;
      width: 103px;
      height: 36px;
      border-bottom: 0;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .logo__image {
    width: 113px;
    height: 46px;
    &--footer {
      width: 103px;
      height: 36px;
    }
  }
}

@media (min-width: @desktop-width) {
  .logo {
    position: absolute;
    top: 0;
    left: 44%;
    z-index: 10;
    border-bottom: 0;
    padding-top: 9px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    width: 142px;
    height: auto;
    &--footer {
      position: static;
      width: 103px;
      height: 36px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .logo__image {
    width: 142px;
    height: 72px;
    &--footer {
      width: 103px;
      height: 36px;
    }
  }
}
