.product-card-full {
  width: 260px;
  padding: 35px 30px;
  margin: 0 auto;
  background-image: url(../../img/zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  h2 {
    margin: 0;
    font-family: 'Open Sans Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }
  img {
    margin: 0 auto;
    width: 260px;
    height: 315px;
    text-align: center;
  }
}

.product-card-full__wobbler {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 13px 0;
}

.product-card-full__description {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.product-card-full__parametes {
  border-collapse: collapse;
  width: 260px;
  margin-bottom: 30px;
}

.product-card-full__table-row {
  border-bottom: 1px solid #ececec;
  th {
    padding-bottom: 13px;
    padding-top: 13px;
    padding-right: 30px;
    text-align: left;
    font-weight: normal;
  }
  td {
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: left;
  }
}

.product-card-full__price {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
