.reviews {
  width: 260px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 19px;
  padding-bottom: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  h2 {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
  }
  &__list {
    width: 260px;
    margin-bottom: 28px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__text {
    font-size: 15px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__author {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 2px;
    color: #000000;
  }
  &__social-link {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }
  &__toggle-list {
    width: 260px;
    display: flex;
    flex-direction: row;
  }
  &__toggle {
    width: 129px;
    height: 52px;
    border: 1px solid #ececec;
    text-align: center;
    text-decoration: none;
    color: #000000;
    line-height: normal;
    font-size: 0;
    &:first-child {
      margin-right: -1px;
    }
    &--previous {
      background-image: url(../img/icon-left-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    &--next {
      background-image: url(../img/icon-right-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__button-write {
    margin-top: 37px;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 668px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 42px;
    margin-bottom: 67px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    h2 {
      width: 450px;
      order: 1;
      font-size: 43px;
      line-height: 50px;
    }
    &__list {
      order: 3;
      width: 668px;
    }
    &__text {
      font-size: 17px;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    &__toggle-list {
      order: 4;
      position: absolute;
      bottom: 60px;
      right: 50px;
      width: 174px;
    }
    &__toggle {
      border: 0;
      width: 87px;
    }
    &__button-write {
      order: 2;
      width: 171px;
      margin-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 877px;
    padding-left: 173px;
    padding-right: 0;
    padding-top: 28px; 
    padding-bottom: 67px;
    margin-left: auto;
    margin-right: auto;
    h2 {
      font-size: 53px;
      line-height: 57px;
      margin-bottom: 32px;
    }
    &__list {
      width: 780px;
      padding-right: 97px;
    }
    &__text {
      margin-bottom: 10px;
    }
    &__toggle-list {
      right: 0;
      bottom: 99px;
    }
    &__button-write {
      margin-top: 22px;
    }
  }
}
